@font-face {
  font-family: Neue-Einstellung;
  src: url('./assets/fonts/Hanken Design Co - Neue Einstellung Regular.otf');
}
@font-face {
  font-family: Neue-Einstellung-bold;
  src: url('./assets/fonts/Hanken Design Co - Neue Einstellung Bold.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');

body{
  /* font-family: 'Ysabeau Infant', sans-serif;*/
  font-family: Neue-Einstellung; 
}

.head{
  font-family: Neue-Einstellung-bold; 
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  cursor: pointer;
  width: 110px;
  height: 30px;
  /* object-fit: contain; */
}
.logo-div{
  height: 39px;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 100;
}
